In [1]:
import pandas as pd

We have two datasets shark tank pitches and shark tank sharks. Shark tank is a popular show where enterpreneurs picth their business ideas and the judges(sharks) provide them with funds. This is the shark tank India dataset.

In [4]:
df_pitches = pd.read_csv('shark_tank_india_pitches.csv')
df_pitches.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,468.75
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,80.00
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,83.33
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,2545.45
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,0.00

In [6]:
df_sharks = pd.read_csv('shark_tank_india_sharks.csv')
df_sharks.head()

,pitch_number,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,1,1,1,1,0,0,1,0,1,0,1,0,0,3,25.0,5.333333
1,2,1,1,1,1,1,0,0,1,0,0,0,1,0,0,2,20.0,25.000000
2,3,1,1,1,1,1,0,0,0,1,0,0,1,0,0,2,12.5,15.000000
3,4,1,1,1,1,1,0,0,1,0,0,0,0,0,0,1,70.0,2.750000
4,5,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0.0,0.000000

After looking at the datasets, we can see that the pitch_number column is common to both. We can therefore, merge the two dataframes on this column.

In [10]:
df = df_pitches.merge(df_sharks, on = 'pitch_number')
df.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

Joins use index for merging the data for which we will have to set the common column i.e. pitch_number as index.

In [13]:
df_pitches_2 = df_pitches.set_index('pitch_number')
df_sharks_2 = df_sharks.set_index('pitch_number')
df2 = df_pitches_2.join(df_sharks_2)
df2.head()

,episode_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
pitch_number,,,,,,,,,,,,,,,,,,,,,
1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,468.75,...,1,0,1,0,1,0,0,3,25.0,5.333333
2,1,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,80.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
3,1,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,83.33,...,0,1,0,0,1,0,0,2,12.5,15.000000
4,2,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,2545.45,...,1,0,0,0,0,0,0,1,70.0,2.750000
5,2,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

Are the two merged dataframes equal?

In [15]:
df.equals(df2)

False

Let's reset the index to remove pitch_number as an index.

In [57]:
df2.reset_index(inplace=True)

In [59]:
df.equals(df2)

False

The dataframes are still not equal, as the order of columns after resetting our index has changed. Swapping the order of the first two columns.

In [71]:
cols = list(df2.columns)
cols[0], cols[1] = cols[1], cols[0]
df2 = df2[cols]
df2.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  117 non-null    int64
 1   episode_number         117 non-null    int64
 2   pitch_number           117 non-null    int64
 3   brand_name             117 non-null    object
 4   idea                   117 non-null    object
 5   deal                   117 non-null    int64
 6   pitcher_ask_amount     117 non-null    float64
 7   ask_equity             117 non-null    float64
 8   ask_valuation          117 non-null    float64
 9   deal_amount            117 non-null    float64
 10  deal_equity            117 non-null    float64
 11  deal_valuation         117 non-null    float64
 12  ashneer_present        117 non-null    int64
 13  anupam_present         117 non-null    int64
 14  aman_present           117 non-null    int64
 15  namita_present         117 non-null    int64
 16  vineeta_present        117 non-null    int64
 17  peyush_present         117 non-null    int64
 18  ghazal_present         117 non-null    int64
 19  ashneer_deal           117 non-null    int64
 20  anupam_deal            117 non-null    int64
 21  aman_deal              117 non-null    int64
 22  namita_deal            117 non-null    int64
 23  vineeta_deal           117 non-null    int64
 24  peyush_deal            117 non-null    int64
 25  ghazal_deal            117 non-null    int64
 26  total_sharks_invested  117 non-null    int64
 27  amount_per_shark       117 non-null    float64
 28  equity_per_shark       117 non-null    float64
dtypes: float64(8), int64(19), object(2)
memory usage: 26.6+ KB

In [77]:
df.describe()

,index,episode_number,pitch_number,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,...,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,58.000000,18.735043,59.000000,0.555556,319.854709,5.188034,3852.462479,31.982915,8.963504,467.104872,...,0.179487,0.205128,0.239316,0.188034,0.128205,0.230769,0.059829,1.230769,18.132481,5.583590
std,33.919021,10.070778,33.919021,0.499041,2767.842777,3.892121,11931.601957,36.687391,13.106769,919.988864,...,0.385410,0.405532,0.428501,0.392420,0.335756,0.423137,0.238190,1.410457,23.588682,10.803799
min,0.000000,1.000000,1.000000,0.000000,0.001010,0.250000,0.010000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.000000,10.000000,30.000000,0.000000,45.000000,2.500000,666.670000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,58.000000,19.000000,59.000000,1.000000,50.000000,5.000000,1250.000000,25.000000,3.000000,100.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,10.000000,1.250000
75%,87.000000,27.000000,88.000000,1.000000,80.000000,7.500000,2857.140000,50.000000,15.000000,500.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,25.000000,6.000000
max,116.000000,35.000000,117.000000,1.000000,30000.000000,25.000000,120000.000000,150.000000,75.000000,6666.670000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,100.000000,75.000000

Calculating the average difference between the pitcher ask amount and the deal amount.

In [84]:
df['deal_difference'] = df['pitcher_ask_amount'] - df['deal_amount']
df['deal_difference'].mean().round(2)

287.87

Given that the figures are in lakhs, this is a very high figure. Checking for potential outliers in the dataset causing the difference to be so high. 

We already found the min, max, mean and quartiles. 50% represents the median (and signifies the middle value). The quartiles 25%(Q1) and 75%(Q3) are needed for finding outliers. 

To remove potential outliers we remove the data that is outside the following boundaries:

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR 

Here, Q1 = 25% value of the column
      Q3 = 75% value of the column
      IQR (inter quartile range) = Q3 - Q1

In [97]:
# finding the first (Q1) and third (Q3) quartile 

Q1 = df['deal_difference'].quantile(0.25)
Q3 = df['deal_difference'].quantile(0.75)
IQR = Q3 - Q1 

# defining the bounds for outliers 
lower_bound = Q1 - 1.5 * IQR 
upper_bound = Q3 + 1.5 * IQR

# finding the outliers 
df_outliers = df[(df['deal_difference'] < lower_bound) | (df['deal_difference'] > upper_bound)]
df_outliers

,index,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,...,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark,deal_difference
30,30,11,31,Gopal's 56,Fiber Ice Cream,0,30000.0,25.0,120000.0,0.0,...,0,0,0,0,0,0,0,0.0,0.0,30000.0
80,80,25,81,Alpino,Roasted Peanut Products,0,150.0,2.0,7500.0,0.0,...,0,0,0,0,0,0,0,0.0,0.0,150.0
96,96,30,97,Shades of Spring,Flowers,0,300.0,1.0,30000.0,0.0,...,0,0,0,0,0,0,0,0.0,0.0,300.0
103,103,32,104,Experential Etc,Technology layered Advertisement Services,0,200.0,4.0,5000.0,0.0,...,0,0,0,0,0,0,0,0.0,0.0,200.0

As we can see these above deals were not closed, so we can remove them from the dataset.

Filtering rows in DataFrame so that only the values inside the acceptable range remain. Everything too small or too large gets removed.

In [102]:
df_no_outliers = df[(df['deal_difference'] >= lower_bound) & (df['deal_difference'] <= upper_bound)]
df_no_outliers['deal_difference'].mean()

26.823008407079644

In [ ]:
# df[df['deal_difference'].between(lower_bound, upper_bound))]

Finding average participation rate for each shark. We will now use the original dataframe as the outliers we calculated were to do with the difference between ask and deal amounts. As we need the data where the sharks did not participate in deals.

In [109]:
df.columns

Index(['index', 'episode_number', 'pitch_number', 'brand_name', 'idea', 'deal',
       'pitcher_ask_amount', 'ask_equity', 'ask_valuation', 'deal_amount',
       'deal_equity', 'deal_valuation', 'ashneer_present', 'anupam_present',
       'aman_present', 'namita_present', 'vineeta_present', 'peyush_present',
       'ghazal_present', 'ashneer_deal', 'anupam_deal', 'aman_deal',
       'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal',
       'total_sharks_invested', 'amount_per_shark', 'equity_per_shark',
       'deal_difference'],
      dtype='object')

Here we are splitting the column name using '_' as delimeter, then extracting the first element, taking its mean upto 2 decimal places and mulitplying by 100.

In [115]:
sharks = ['ashneer_deal', 'anupam_deal', 'aman_deal','namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal']
participation_rates = {shark.split('_')[0].capitalize(): f'{df[shark].mean() * 100:.2f}%' for shark in sharks}
participation_rates

{'Ashneer': '17.95%',
 'Anupam': '20.51%',
 'Aman': '23.93%',
 'Namita': '18.80%',
 'Vineeta': '12.82%',
 'Peyush': '23.08%',
 'Ghazal': '5.98%'}

From this we can see that Aman and Peyush participated in the most number of deals while Ghazal participated the least. However, this might not be a fair assessment as we have not taken into account whether or not a shark was present during the episode of a deal or not. Luckily, we have columns to represent the same data.

In [121]:
sharks_presence = ['ashneer_present', 'anupam_present','aman_present', 'namita_present', 'vineeta_present', 'peyush_present','ghazal_present']

#dictionary to store participation rates while taking presence into account 
adjusted_participation_rates = {} 

# as the sharks deals and presence columns line up exactly, we can zip them together to perform the following

for deal, present in zip(sharks, sharks_presence):
    present_pitches = df[df[present] == 1]
    participation_rate = present_pitches[deal].mean() * 100
    adjusted_participation_rates[deal.split('_')[0].capitalize()] = f'{participation_rate:.2f}%'

adjusted_participation_rates

{'Ashneer': '21.43%',
 'Anupam': '20.51%',
 'Aman': '28.57%',
 'Namita': '20.75%',
 'Vineeta': '22.73%',
 'Peyush': '30.68%',
 'Ghazal': '26.92%'}

1. zip(sharks, sharks_presence)
Pair each deal column with its matching presence column.

2. present_pitches = df[df[present] == 1]
Filter the DataFrame to only the rows where that shark was presen

3. present_pitches[deal].mean() * 100
Now computing the mean participation only within those episodes.

This data seems more reasonable as other factors are taken into account as well.